/* .box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} */

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f5f5f5;
}

.survey_container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.survey_header {
  background-color: #3730a3;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: 20px;
  /* position: fixed; */
}

.question_container {
  margin-bottom: 50px;
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
}

.rating_group {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.label {
  display: inline-block;
  cursor: pointer;
}

.input {
  display: none;
}

.input + .label {
  position: relative;
  border: 2px solid #3730a3;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label p {
  margin-top: 70px;
}

.input + .label::before {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.input:checked + .label::before {
  width: 20px;
  height: 20px;
  background-color: #3730a3;
}

.input:checked + .label {
  border-color: #d2e0fb;
}

.label:hover {
  border-color: #d2e0fb;
}

.rating-group .label_text {
  margin-top: 10px;
  display: block;
  font-size: 14px;
}

.submit_button {
  width: 70px;
  height: 35px;
  background-color: #3730a3;
  color: white;
  border-radius: 5px;
}
