.prompt {
  margin-left: 3rem;
  padding-top: 20px;
}

.container {
  margin: 3% 20% 3% 15%;
  /* padding-bottom: 20px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #d2e0fb;
  border-radius: 20px;
  min-inline-size: 400px;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  display: flex;
  /* padding-bottom: 2rem; */
}

.emoji {
  margin: 1rem 3% 1rem 10%;
  /* flex-shrink: 1; */
  /* padding: 1rem 5% 1rem 5%; */
  /* font-size: 40px; */
  width: 60px;
  height: 60px;
}
